@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Student;
<h1 class="title">Update Student</h1>
<form asp-action="UpdateStudent" asp-controller="Student" method="post">
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input class="form-control" asp-for="Id" style="color:black" />
    </div>

    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input class="form-control" asp-for="FirstName" placeholder="Enter First Name" style="color:black" />
    </div>

    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input class="form-control" asp-for="LastName" placeholder="Enter Last Name" style="color:black" />
    </div>

    <div class="form-group">
        <label for="Course">Course</label>
        <select asp-for="Course" asp-items="@Html.GetEnumSelectList(typeof(Course))" class="form-control" style ="color: black"></select>
    </div>

    <div class="form-group">
        <label for="AdmisionDate">Admission Date</label>
        <input asp-for="AdmissionDate" class="form-control" style="color: black" />
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Enter Email" style="color:black" />
    </div>

    <div class="form-group">
        <label for="GPA">GPA</label>
        <input class="form-control" asp-for="GPA" placeholder="Enter GPA" style="color:black" />
    </div>

    <br />
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" onclick="history.back()" class="btn btn-primary">Cancel</button>
    </div>
    
</form>